.ant-input::placeholder {
  color: #ffffff;
  opacity: 0.5;
}

.ant-input:focus-within::placeholder {
  opacity: 0.5;
}

.ant-input-filled:focus-within {
  color: #ffffff;
  background: #414144 !important;
  border-color: #414144;
}
